@model CadastroProdutosMVC.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Produto</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.Label("Descrição do Produto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>

        <dt>
            @Html.Label("Valor Unitário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUniProduto)
        </dd>

        <dt>
            @Html.Label("Quantidade do Produto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDproduto }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
