@model IEnumerable<CadastroProdutosMVC.Models.Produto>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h2>Cadastro de Produtos</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Descrição do Produto
        </th>
        <th>
           Valor Unitário
        </th>
        <th>
           Quantidade do Produto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUniProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeProduto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDproduto }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDproduto }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDproduto })
        </td>
    </tr>
}

</table>
